.without-account {
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  &__progress {
    margin-top: 46px;
  }
  &__progress-bar {
    margin-bottom: 33px;
    height: 5px;
    background: #f1f1f1;
    border-radius: 5px;
    &-inner {
      height: 5px;
      border-radius: 5px;
      background: #304ffe;
      width: 12.5%;
      transition: all 0.2s ease-in;
    }
    &-inner-step2 {
      width: 25%;
    }
    &-inner-step3 {
      width: 50%;
    }
    &-inner-step4 {
      width: 75%;
    }
    &-inner-step5 {
      width: 100%;
    }
  }
  &__submit-btn {
    margin-top: 45px !important;
    width: 100% !important;
    margin-bottom: 40px !important;
  }
}
