.without-account {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 130px);
  &__submit-btn {
    margin-top: 45px !important;
    width: 100% !important;
    margin-bottom: 40px !important;
  }
  &__button-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 12px;
    // margin-bottom: 50px;
    margin-top: 40px;
  }
}

.without-account.without-account-zero {
  min-height: calc(100vh - 20px);
}
