.account-btn {
  border: none;
  margin: 0;
  text-decoration: none;
  background: transparent;
  border: none;
  color: #fff;
  border-radius: 12px;
  padding: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  -webkit-appearance: none;
  -moz-appearance: none;
  &__icon {
    display: flex;
  }
}
.account-btn.account-btn-fb {
  background: #1565c0;
}
.account-btn.account-btn-google {
  background: #e53935;
}
.account-btn.account-btn-apple {
  background: #333333;
}
