.heading-button {
  .heading-button__btn {
    border: none;
    margin: 0;
    text-decoration: none;
    background: transparent;
    border: 1px solid #e8e8e8;
    border-radius: 18px;
    background: #ffffff;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
  }
}
.heading-button.heading-button-text {
  .heading-button__btn {
    padding: 11px;
    min-width: 86px;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
  }
}

.heading-button.heading-button-add {
  .heading-button__btn {
    background: #304ffe;
    filter: drop-shadow(0px 20px 35px #304ffe);
    border: none;
  }
}
