.info-button {
  .info-button__btn {
    border: none;
    margin: 0;
    text-decoration: none;
    background: #f8f8f8;
    border-radius: 15px;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 36px;
  }
}
