.home-container {
  background: linear-gradient(180deg, #044794 0%, #1883e7 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 22px;
  position: relative;
  // Button Container Styles
  &__button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    &-text {
      font-family: Poppins;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
      color: #ffffff;
    }
    &-buttons {
      &-btn {
        border-radius: 12px;
        border: none;
        width: fit-content;
        padding: 13px 20px;
        font-family: Poppins;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: #333333;
        cursor: pointer;
      }
      &-btn-trans {
        background: transparent;
        border-radius: 12px;
        border: none;
        width: 86px;
        height: 48px;
        font-family: Poppins;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: #ffffff;
        cursor: pointer;
      }
    }
  }
  .banner-container {
    max-width: 430px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 98px;
    &__heading {
      font-family: Poppins;
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
      color: #ffffff;
      margin-bottom: 20px;
    }
    &__text {
      font-family: Poppins;
      font-size: 18px;
      line-height: 27px;
      text-align: center;
      margin-bottom: 65px;
      text-align: center;
      color: #ffffff;
    }
  }
  .banner-button-container {
    max-width: 430px;
    margin: 0 auto;
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    &__btn {
      background: transparent;
      outline: none;
      border: none;
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #ffffff;
      cursor: pointer;
    }
    &__text {
      margin-top: 150px;
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 36px;
      text-align: center;
      color: rgba(255, 255, 255, 0.8);

      &-imp {
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
  .footer-container {
    max-width: 430px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    margin-top: 350px;
    &__link-text {
      padding-bottom: 15px;
      font-family: Poppins;
      font-size: 18px;
      line-height: 27px;
      color: #ffffff;
      text-decoration: none;
    }
  }
  .image-container {
    max-width: 430px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    min-height: 315px;
    min-width: 203px;
    margin-top: 20px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    &__image {
      position: absolute;
      bottom: 0px;
      z-index: 1;
      filter: drop-shadow(0px 0px 100px #fff);
    }
  }
}
