.create-password {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 40px 0px;
    &-heading {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }
  &__desc {
  }
  &__input-password {
    margin-top: 20px;
  }
  &__password-list {
    margin-top: 35px;
  }
}
