.custom-input {
  &__label {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #969696;
    margin-bottom: 12px;
  }
  &__input {
    background: #ffffff;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 16px;
    width: 100%;
    &::placeholder {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;
      color: #bababa;
    }
  }
}
