.scan-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__text-container {
    margin-top: 35px;
  }
  &__card-continer {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    box-shadow: (0px 4px 20px rgba(0, 0, 0, 0.15));
    border-radius: 12px;
    &-divider {
      width: 3px;
      height: 320px;
      background: #304ffe;
      border-radius: 1.5px;
      content: '';
    }
    &-content {
      &-heading {
        margin-top: 32px;
      }
      &-inner-card {
        margin-top: 22px;
        &-heading {
          margin-top: 10px;
          font-family: Poppins;
          font-weight: 600;
          font-size: 12px;
          line-height: 18px;
          color: #969696;
        }
        &-text {
          font-family: Poppins;
          font-weight: 500;
          font-size: 18px;
          line-height: 27px;
        }
      }
    }
    &-content {
      width: 100%;
      &-success {
        margin-top: 30px;
        margin-top: 50px;
        text-align: center;
        color: #7e7e7e;
      }
      &-rescan {
        font-family: Poppins;
        font-size: 14px;
        line-height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 10px;
        width: 100%;
        outline: none;
        background: transparent;
        color: #304ffe;
        border: none;
        cursor: pointer;
      }
    }
  }
  .scan-details__button-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    &-btn {
      width: 100%;
    }
  }
}
