.scan-details {
  display: flex;
  flex-direction: column;

  &__heading {
    display: grid;
    grid-template-columns: 48px 1fr;
    align-items: center;
    gap: 16px;
  }
  &__text-container {
    margin-top: 35px;
  }
  &__card-continer {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    box-shadow: (0px 4px 20px rgba(0, 0, 0, 0.15));
    border-radius: 12px;
    &-divider {
      width: 3px;
      height: 320px;
      background: #304ffe;
      border-radius: 1.5px;
      content: '';
    }

    &-content {
      &-racquet {
        &-inner {
          position: relative;
        }
        &-img {
          display: block;
          margin: 0 auto;
        }
        &-text {
          position: absolute;
          left: 25px;
          bottom: 30px;
          p.description {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 36px;
            color: #ffffff;
          }
        }
      }
      &-heading {
        margin-top: 32px;
      }
      &-inner-card {
        &-txt {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 30px 25px;
        }
        // margin-top: 22px;
        &-heading {
          margin-top: 10px;
          font-family: Poppins;
          font-weight: 600;
          font-size: 12px;
          line-height: 18px;
          color: #969696;
        }
        &-text {
          font-family: Poppins;
          font-weight: 500;
          font-size: 18px;
          line-height: 27px;
        }
      }
    }
    &-content {
      width: 100%;
      &-success {
        margin-top: 30px;
        margin-top: 50px;
        text-align: center;
        color: #7e7e7e;
      }
      &-rescan {
        font-family: Poppins;
        font-size: 14px;
        line-height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 10px;
        width: 100%;
        outline: none;
        background: transparent;
        color: #304ffe;
        border: none;
        cursor: pointer;
        margin-top: 17px;
      }
    }
  }
  .scan-details__button-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    &-btn {
      width: 100%;
    }
  }
  &__btn {
    margin-top: 40px;
  }
}
