.select-string {
  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-text {
      max-width: 300px;
    }
  }
  &__text-container {
    margin-top: 20px;
    &-text {
    }
  }
}
