.custom-order-select.custom-order-select-bold {
  .custom-order-select__input {
    &::placeholder {
      color: #3c3c3c;
    }
  }
}

.custom-order-select {
  width: 100%;
  &__label {
    font-family: Poppins;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #969696;
    margin-bottom: 12px;
  }
  &__container {
    display: flex;
    align-items: center;
    font-family: Poppins;
    background: #ffffff;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 16px;
    width: 100%;
    &:focus-within {
      border-color: #304ffe;
    }
    a {
      color: #304ffe;
      text-decoration: none;
    }
  }
  &__input {
    font-family: Poppins;
    background: #ffffff;
    // border: 1px solid #e8e8e8;
    border: none;
    box-sizing: border-box;
    border-radius: 12px;
    // padding: 16px;
    width: 100%;
    &:focus {
      outline: none;
      border: none;
    }
    &::placeholder {
      font-family: Poppins;
      font-size: 15px;
      line-height: 27px;
      color: #bababa;
    }
  }
}
