.shop {
  padding: 0px 20px;
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &-headings {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 12px;
    }
  }
  &__contact-heading {
    margin-top: 45px;
  }
  &__contact-info {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    &-inner {
      &-heading {
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        color: #8e8e8e;
      }
      &-txt {
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #333333;
      }
    }
  }

  &__services-card_welcome {
    margin-top: 35px;
    background: #ffffff;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 25px;
  }
  &__services-card {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
    margin-top: 35px;
    background: #ffffff;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 25px;

    &-divider {
      background: #304ffe;
      border-radius: 1.5px;
      width: 3px;
      height: 253px;
    }
    &-inner {
      padding: 31px 25px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      &-text {
        &-heading {
          font-weight: 600;
          font-size: 12px;
          line-height: 18px;
          color: #8e8e8e;
        }
        &-txt {
          font-weight: 500;
          font-size: 18px;
          line-height: 27px;
          color: #333333;
        }
      }
    }
    &-inner-pass {
      padding: 31px 25px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      display: flex;
      align-items: flex-end;
      div {
        input {
          border: none;
          color: #304ffe !important;
        }
      }
    }
  }
}
