.search-inventory {
  padding: 0 20px;
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  &__header {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  &__search {
    margin-top: 30px;
  }
  &__strings {
    margin-top: 20px;
  }
  &__cards {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__buttons {
    margin-top: 50px;
    display: flex;
    gap: 20px;
  }
}
