.search-inventory {
  &__header {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  &__search {
    margin-top: 45px;
  }
  &__strings {
    margin-top: 20px;
  }
  &__cards {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__buttons {
    margin-top: 50px;
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
  }
}
