.configure-racquet {
  padding: 40px 0px;
  &__button-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    padding: 40px 20px 40px 20px;
  }
}

.configure-racquet.configure-racquet-steps {
  padding: 0px 0px;
}
