.bank-form {
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 80px);
  justify-content: space-between;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 27px;
  }
}
