.custom-switch {
  display: flex;
  .react-switch-bg {
    border-radius: 30px !important;
  }
  .react-switch-handle {
    height: 25px !important;
    width: 25px !important;
    left: 1px !important;
  }
}
