.add-credit {
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 80px);
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__cards {
    margin-top: 25px;
    margin-bottom: 15px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
}
