.order-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 20px;
  padding-top: 35px;
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - 175px);
  }
  &__button-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 12px;
    margin-bottom: 50px;
    margin-top: 40px;
  }
  &__submit-btn {
    margin-top: 45px !important;
    width: 100% !important;
    margin-bottom: 40px !important;
  }
}

.order-page.order-page-done {
  padding: 0px;
}

.order-page.order-page-zero {
  .order-page__form {
    min-height: calc(100vh - 35px);
  }
}
