.business-details-container {
  padding: 40px 20px;
  min-height: 100vh;
  .header-row {
    display: flex;
    align-items: center;
    padding-bottom: 17px;
    &-heading {
      font-family: Poppins;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 36px;
      flex-grow: 1;
    }
  }
  .business-details-description {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
  }
  .business-details-body {
    max-width: 450px;
    margin: auto;
    .business-account-form {
      padding-top: 35px;
      //  min-height: calc(100vh - 250px);
      // min-height: calc(100vh - 250px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .input-container {
        padding-bottom: 20px;
        .input-label {
          display: block;
          font-family: Poppins;
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 18px;
          color: #969696;
          padding-bottom: 12px;
        }
        .form-input {
          background: #ffffff;
          border: 1px solid #e8e8e8;
          box-sizing: border-box;
          border-radius: 12px;
          width: 100%;
          height: 59px;
          font-family: Poppins;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 27px;
          color: #9a9a9a;
          padding: 16px;
        }
      }
      .input-container-shop {
        display: grid;
        // justify-content: space-between;
        grid-template-columns: 3fr 140px;
        gap: 7px;
        padding-bottom: 20px;
        .input-label {
          display: block;
          font-family: Poppins;
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 18px;
          color: #969696;
          padding-bottom: 12px;
        }
        .form-input {
          background: #ffffff;
          border: 1px solid #e8e8e8;
          box-sizing: border-box;
          border-radius: 12px;
          width: 100%;
          height: 59px;
          font-family: Poppins;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 27px;
          color: #9a9a9a;
          padding: 16px;
        }
      }
      .btn-container {
        padding-top: 55px;
      }
    }
  }
}

.business-account-fields {
  display: flex;
  flex-direction: column;
  gap: 20px;
  &-cs {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 7px;
  }
}
